        h1{
            COLOR:RED;
        }
        P{
            COLOR:BLUE
        }
        #parrafo2{
            COLOR:ORANGE;
        }
        #parrafo4{
            COLOR:GREEN;}
        .subtitulo{
            COLOR:WHITE;
            BACKGROUND:BLACK;
        }
       
